$pag-inicio: rgba(255, 255, 255, 0.9);
$pag-terror: rgba(143, 31, 31, 0.9);
$pag-accion: rgba(18, 20, 131, 0.9);
$pag-comedia: rgba(77, 16, 85, 0.9);
$pag-drama: rgba(124, 113, 13, 0.9);
$encabezado:rgba(5, 5, 5, 0.9);